#temporary files
*~
metamod/.vs/metamod/v16/.suo
metamod/.vs/metamod/v16/Browse.VC.db
metamod/.vs/metamod/v16/Browse.VC.opendb
metamod/.vs/metamod/v16/ipch/AutoPCH/12f7a715ab353ba/GAME_AUTODETECT.ipch
metamod/.vs/metamod/v16/ipch/AutoPCH/138599c0039e09ed/CONF_META.ipch
metamod/.vs/metamod/v16/ipch/AutoPCH/36bd79b50d959c3/REG_SUPPORT.ipch
metamod/.vs/metamod/v16/ipch/AutoPCH/3f59b28883d0d525/MPLAYER.ipch
metamod/.vs/metamod/v16/ipch/AutoPCH/6c7005572ef2e13a/MUTIL.ipch
metamod/.vs/metamod/v16/ipch/AutoPCH/a49546a735ebd867/API_HOOK.ipch
metamod/.vs/metamod/v16/ipch/AutoPCH/a9ecf4c82532790d/LOG_META.ipch
metamod/.vs/metamod/v16/ipch/AutoPCH/b6053a5890acbf76/SUPPORT_META.ipch
metamod/.vs/metamod/v16/ipch/AutoPCH/cb2e2d243790802f/MPLUGIN.ipch
metamod/.vs/metamod/v16/ipch/AutoPCH/d5e7b41729698caa/MUTIL.ipch
metamod/.vs/metamod/v16/ipch/AutoPCH/db8726fe38b95057/API_HOOK.ipch
metamod/.vs/metamod/v16/ipch/AutoPCH/eea0a9643e3d31a7/API_HOOK.ipch
metamod/game_autodetect.cpp.PVS-Studio.cmd
metamod/mlist.cpp.PVS-Studio.cfg
metamod/mlist.cpp.PVS-Studio.cmd
metamod/mlist.PVS-Studio.i
metamod/UpgradeLog.htm
metamod/UpgradeLog2.htm
metamod/UpgradeLog3.htm
*.obj
*.tlog
metamod/Debug/vc142.idb
metamod/Debug/vc142.pdb
metamod/game_support.cpp.PVS-Studio.cfg
metamod/game_support.cpp.PVS-Studio.cmd
metamod/game_support.cpp.PVS-Studio.preprocess.cmd
metamod/game_support.cpp.PVS-Studio.preprocess.cmd.rsp
metamod/game_support.PVS-Studio.i
metamod/h_export.cpp.PVS-Studio.cfg
metamod/h_export.cpp.PVS-Studio.cmd
metamod/h_export.cpp.PVS-Studio.preprocess.cmd.rsp
metamod/h_export.PVS-Studio.i
metamod/Release/metamod.Build.CppClean.log
metamod/Release/metamod.lastbuildstate
metamod/Release/metamod.log
metamod/Release/metamod.unsuccessfulbuild
metamod/Release/metamod.vcxproj.FileListAbsolute.txt
*.ipch
metamod/api_hook.cpp.PVS-Studio.cfg
metamod/api_hook.cpp.PVS-Studio.cmd
metamod/api_hook.cpp.PVS-Studio.preprocess.cmd.rsp
metamod/api_hook.PVS-Studio.i
metamod/Debug/metamod.log
metamod/Debug/metamod.Build.CppClean.log
metamod/Debug/metamod.vcxproj.FileListAbsolute.txt
metamod/linkplug.cpp.PVS-Studio.cfg
metamod/linkplug.cpp.PVS-Studio.cmd
metamod/linkplug.cpp.PVS-Studio.preprocess.cmd.rsp
metamod/linkplug.PVS-Studio.i
metamod/Release/metamod.exp
metamod/Release/metamod.iobj
metamod/Release/metamod.ipdb
metamod/Release/metamod.lib
metamod/Release/res_meta.res
*.dll
metamod/commands_meta.cpp.PVS-Studio.cfg
metamod/commands_meta.cpp.PVS-Studio.cmd
metamod/commands_meta.cpp.PVS-Studio.preprocess.cmd
metamod/commands_meta.cpp.PVS-Studio.preprocess.cmd.rsp
metamod/commands_meta.PVS-Studio.i
metamod/engine_api.cpp.PVS-Studio.cfg
metamod/engine_api.cpp.PVS-Studio.cmd
metamod/engine_api.cpp.PVS-Studio.preprocess.cmd
metamod/engine_api.cpp.PVS-Studio.preprocess.cmd.rsp
metamod/engine_api.PVS-Studio.i
