#temporary files
*~
metamod/.vs/metamod/v16/.suo
metamod/.vs/metamod/v16/Browse.VC.db
metamod/.vs/metamod/v16/Browse.VC.opendb
metamod/.vs/metamod/v16/ipch/AutoPCH/12f7a715ab353ba/GAME_AUTODETECT.ipch
metamod/.vs/metamod/v16/ipch/AutoPCH/138599c0039e09ed/CONF_META.ipch
metamod/.vs/metamod/v16/ipch/AutoPCH/36bd79b50d959c3/REG_SUPPORT.ipch
metamod/.vs/metamod/v16/ipch/AutoPCH/3f59b28883d0d525/MPLAYER.ipch
metamod/.vs/metamod/v16/ipch/AutoPCH/6c7005572ef2e13a/MUTIL.ipch
metamod/.vs/metamod/v16/ipch/AutoPCH/a49546a735ebd867/API_HOOK.ipch
metamod/.vs/metamod/v16/ipch/AutoPCH/a9ecf4c82532790d/LOG_META.ipch
metamod/.vs/metamod/v16/ipch/AutoPCH/b6053a5890acbf76/SUPPORT_META.ipch
metamod/.vs/metamod/v16/ipch/AutoPCH/cb2e2d243790802f/MPLUGIN.ipch
metamod/.vs/metamod/v16/ipch/AutoPCH/d5e7b41729698caa/MUTIL.ipch
metamod/.vs/metamod/v16/ipch/AutoPCH/db8726fe38b95057/API_HOOK.ipch
metamod/.vs/metamod/v16/ipch/AutoPCH/eea0a9643e3d31a7/API_HOOK.ipch
metamod/game_autodetect.cpp.PVS-Studio.cmd
metamod/mlist.cpp.PVS-Studio.cfg
metamod/mlist.cpp.PVS-Studio.cmd
metamod/mlist.PVS-Studio.i
metamod/UpgradeLog.htm
metamod/UpgradeLog2.htm
metamod/UpgradeLog3.htm
